







<section class="carouselSection">
  <div class="carousel_1">
    <i id="left" class="fa-solid fa-angle-left"></i>
    <ul class="carousel_2">


      <li class="card">
        <div class="img"><img src="/img/Team/Saddam.jpeg" alt="img" draggable="false"></div>
        <h2>Md Saddam</h2>
        <span>Full Stack Web-Developer</span>
      </li>


      <li class="card">
        <div class="img"><img src="/img/Team/Aryan.jpg" alt="img" draggable="false"></div>
        <h2>Aryan Chauhan</h2>
        <span>Front-End Developer & UI/UX</span>
      </li>


      <li class="card">
        <div class="img"><img src="/img/Team/Nirnayak.jpg" alt="img" draggable="false"></div>
        <h2>Nirnayak Jha</h2>
        <span>Back-End Developer</span>
      </li>


      <li class="card">
        <div class="img"><img src="/img/Team/Kundan.jpg" alt="img" draggable="false"></div>
        <h2>Kundan Roy</h2>
        <span>Editor</span>
      </li>


      <li class="card">
        <div class="img"><img src="/img/Team/Amit.jpg" alt="img" draggable="false"></div>
        <h2>Amit Kumar</h2>
        <span>Financial Advisor</span>
      </li>
      <li class="card">
        <div class="img"><img src="/img/Team/Sahil.jpg" alt="img" draggable="false"></div>
        <h2>Sahil Kumar</h2>
        <span> Designer And Content Writer</span>
      </li>
      <li class="card">
        <div class="img"><img src="/img/Team/Akanksha.jpeg"alt="img" draggable="false"></div>
        <h2>Akanksha Priya</h2>
        <span>Senior BDA </span>
      </li>
      <li class="card">
        <div class="img"><img src="/img/Team/Anshu.jpg" alt="img" draggable="false"></div>
        <h2>Anshu Raj</h2>
        <span>BDA</span>
      </li>
      <li class="card">
        <div class="img"><img src="/img/Team/Dev.jpg" alt="img" draggable="false"></div>
        <h2>Dev Kumar</h2>
        <span>BDA</span>
      </li>
      <li class="card">
        <div class="img"><img src="/img/Team/Trisha Raj.jpg" alt="img" draggable="false"></div>
        <h2>Trisha Raj</h2>
        <span>BDA</span>
      </li>
    </ul>
    <i id="right" class="fa-solid fa-angle-right"></i>
  </div>
</section>

 
  


