



<!-- Footer Start Here -->
  

<footer id="ftr">
  <div class="containerFooter">
    <div class="sec aboutUs">
      <h2>About Us</h2>
      <p>
        GrowthUP is a dedicated startup consulting firm committed to empowering emerging businesses for unparalleled success. We offer tailored solutions, drawing from diverse industry expertise, to help startups thrive. From strategic planning to funding support, our comprehensive services enable startups to navigate challenges and seize opportunities for sustainable growth.
      </p>
      <ul class="sci">
        <li>
          <a id="tab-1" href="#"
            ><ion-icon name="logo-facebook" class="whiteText"></ion-icon
          ></a>
        </li>
        <li>
          <a id="tab-2" href="#"
            ><ion-icon name="logo-instagram" class="whiteText"></ion-icon
          ></a>
        </li>
        <li>
          <a id="tab-3" href="#"
            ><ion-icon name="logo-twitter" class="whiteText"></ion-icon
          ></a>
        </li>
        <li>
          <a id="tab-4" href="#"
            ><ion-icon name="logo-youtube" class="whiteText"></ion-icon
          ></a>
        </li>
      </ul>
    </div>
    <div class="sec quickLinks">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about_Section">About</a></li>
        <li><a href="serviceSection">Service</a></li>
        <li><a href="client">Our Client</a></li>
        <li><a href="contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="sec contact">
      <h2>Contact Info</h2>
      <ul class="info">
        <li>
          <span><ion-icon name="map-outline"></ion-icon></span>
          <span
            >647 Linda Street<br />
            Phoenixville, PA 19460,<br />India</span
          >
        </li>
        <li>
          <span><ion-icon name="call-outline"></ion-icon></span>
          <p>
            <a href="tel:8969910863">+91 8969910863</a>
          </p>
        </li>
        <li>
          <span><ion-icon name="mail-outline"></ion-icon></span>
          <p><a href="mailto:mail@growthupconsultancy.com">mail@growthupconsultancy.com</a></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyRight">
    <p>CopyRight &copy; GrowthUp</p>
    <p class="dev">Developed by <a href="https://mdsaddam7860.github.io/Saddam.github.io/">Md Saddam</a></p>
  </div>
</footer>
<!-- <div class="copyRight">
<p>CopyRight &copy; GrowthUp</p>
</div> -->



<!-- Footer End Here -->





















  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="/public/script.js"></script>
  <script src="/public/carousel.js"></script>



  <script src="https://kit.fontawesome.com/4c4e1530fc.js" crossorigin="anonymous"></script>
<!-- sticky header -->
  <script>
    var stickyHeader =  document.querySelector("header");
  
    window.addEventListener("scroll",function(){
      var scrollY = window.scrollY;
        if(scrollY > 20){
          stickyHeader.classList.add("sticky");
        }else{
          stickyHeader.classList.remove("sticky");
        }
        
      });
  </script>
<!-- sticky header -->

</body>
</html>





