<%- include("header") -%>
    

    <!-- Image Slider Start Here -->

    
        <!-- slides -->
    <section id="mrg" id="Home">    
      <div class="slider">
        <div class="slider__slides">
          <div class="slide s--active">
            <div class="slide__inner">
              <div class="slide__content">
                <h2 class="slide__heading">Dream big, work hard,</h2>
                <p class="slide__text">achieve greatness.</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="slide__inner">
              <div class="slide__content">
                <h2 class="slide__heading">Success is a journey,</h2>
                <p class="slide__text">not a destination.</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="slide__inner">
              <div class="slide__content">
                <h2 class="slide__heading">Challenge accepted</h2>
                <p class="slide__text">results delivered.</p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="slide__inner">
              <div class="slide__content">
                <h2 class="slide__heading">Your Success, Our Mission</h2>
                <p class="slide__text">at GrowthUP.</p>
              </div>
            </div>
          </div>
          <div class="slide s--prev">
            <div class="slide__inner">
              <div class="slide__content">
                <h2 class="slide__heading">GrowthUP</h2>
                <p class="slide__text">Your Journey to Success Starts Here</p>
              </div>
            </div>
          </div>
        </div>
        <!-- slides end -->
        <div class="slider__control">
          <div class="slider__control-line"></div>
          <div class="slider__control-line"></div>
        </div>
        <div class="slider__control slider__control--right m--right">
          <div class="slider__control-line"></div>
          <div class="slider__control-line"></div>
        </div>
      </div>

    </div>
  </section>
    <!-- Image Slider End Here -->











      <!-- Our Experts Section start Here -->

<section id="expert" class="conser">
  <div class="expert-1" class="conser-1">
    <!-- <div class="about">
      <a href="#" class="about-anch">About Us
        <i><ion-icon name="arrow-forward-circle-outline"></ion-icon></i>
      </a>
    </div> -->
    <h3 class="title hidden">
    <span class="word-holder">
      <span class="char-holder" style="transition-delay: 120ms;">C</span>
      <span class="char-holder" style="transition-delay: 180ms;">O</span>
      <span class="char-holder" style="transition-delay: 240ms;">N</span>
      <span class="char-holder" style="transition-delay: 240ms;">S</span>
      <span class="char-holder" style="transition-delay: 240ms;">U</span>
      <span class="char-holder" style="transition-delay: 240ms;">L</span>
      <span class="char-holder" style="transition-delay: 240ms;">T</span>
      <span class="char-holder" style="transition-delay: 240ms;">I</span>
      <span class="char-holder" style="transition-delay: 240ms;">N</span>
      <span class="char-holder" style="transition-delay: 240ms;">G</span>
      <!-- <span class="char-holder" style="transition-delay: 240ms;"> </span> -->
    </span>
    <span class="word-holder">
      <span class="char-holder" style="transition-delay: 460ms;">S</span>
      <span class="char-holder" style="transition-delay: 520ms;">E</span>
      <span class="char-holder" style="transition-delay: 680ms;">R</span>
      <span class="char-holder" style="transition-delay: 720ms;">V</span>
      <span class="char-holder" style="transition-delay: 880ms;">I</span>
      <span class="char-holder" style="transition-delay: 940ms;">C</span>
      <span class="char-holder" style="transition-delay: 1080ms;">E</span>
      <span class="char-holder" style="transition-delay: 1180ms;">S</span>
    </span>
    </h3>
    <div class="about">
      <a href="serviceSection" class="about-anch">All Services
        <i><ion-icon name="arrow-forward-circle-outline"></ion-icon></i>
      </a>
    </div>
    <!-- <div class="about-content">
      <h2>Empowering Businesses through Strategic Consulting</h2>
    </div>
  </div> -->
</section>


  <!-- Our Experts Section End Here -->










  <!-- Our Experts Section End Here -->
<!-- <div id="consult">
    <div class="text-ani">
      <div class="waviy">
        <span style="--i:1">C</span>
        <span style="--i:2">o</span>
        <span style="--i:3">n</span>
        <span style="--i:4">s</span>
        <span style="--i:5">u</span>
        <span style="--i:6">l</span>
        <span style="--i:7">t</span>
        <span style="--i:8">i</span>
        <span style="--i:9">n</span>
        <span style="--i:10">g</span>
        <span style="--i:11">_</span>
        <span style="--i:12">S</span>
        <span style="--i:13">e</span>
        <span style="--i:14">r</span>
        <span style="--i:15">v</span>
        <span style="--i:16">i</span>
        <span style="--i:17">c</span>
        <span style="--i:18">e</span>
        <span style="--i:19">s</span>
       </div>
      </div>
</div> -->
<!-- <div class="anchor-all">
     <a href="#">All Services
     <i><ion-icon name="arrow-forward-circle-outline"></ion-icon></i>
    </a>
</div> -->
<!-- <div class="text-services">
  <h2>Empowering Businesses through Strategic Consulting</h2>
</div> -->












    <!-- services start here-->
<!-- <div class="services">
    <ul class="list-service">
       <li class="list-box serv-1 list-icon"><ion-icon name="add-outline"></ion-icon> <a href="#">Pitch Deck</a></li>
       <li class="list-box serv-2 list-icon"><ion-icon name="add-outline"></ion-icon><a href="#">Business Plan</a></li>
       <li class="list-box serv-3 list-icon"><ion-icon name="add-outline"></ion-icon><a href="#">Financial Model</a></li>
       <li class="list-box serv-4 list-icon"><ion-icon name="add-outline"></ion-icon><a href="#">Startup Consultation</a></li>
       <li class="list-box serv-5 list-icon"><ion-icon name="add-outline"></ion-icon><a href="#">Valuation</a></li>
       <li class="list-box serv-6 list-icon"><ion-icon name="add-outline"></ion-icon><a href="#">Registrations & Incorporations</a></li>
       <li class="list-box serv-7 list-icon"><ion-icon name="add-outline"></ion-icon><a href="#">Website Development</a></li>
       <li class="list-box serv-8 list-icon"><ion-icon name="add-outline"></ion-icon><a href="#">Digital Marketing</a></li>
       <li class="list-box serv-9 list-icon"><ion-icon name="add-outline"></ion-icon><a href="#">Accounting & Bookkeeping</a></li>
    </ul>
</div> -->


<section class="ourService">
  <!-- <div class="rowService">
    <h2 class="section-heading">Our Services</h2>
  </div> -->
  <div class="rowService">


    <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-building"></i>
          </div>
          <h3>Company Registration</h3>
          <p>
            Assist startups in registering their business entities, such as private limited companies, limited liability partnerships 
             (LLPs), or sole proprietorships, depending on their needs and goals.
          </p>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-code"></i>
          </div>
          <h3>Website And App Development</h3>
          <p>
            Expert website and app development services: Custom design, responsive coding, and seamless functionality for an 
             exceptional digital presence
          </p>
        </div>
      </div>



      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-share-from-square"></i>
          </div>
          <h3>Social Media Management</h3>
          <p>
            Comprehensive social media management services: content creation, posting, engagement, analytics, and strategy for 
             effective online brand presence and growth.
          </p>
        </div>
      </div>
  </div>
</section>








    <!-- services End here-->

    <!---->

  <section class="elements">
    <div class="element-1">

      <div class="element-container">
        <i class="element-icon"><i class="fa-solid fa-earth-africa"></i>
        <i class="element-number">1.</i>
      </i>
      <div class="element-border">
        <div class="inner-border"></div>
      </div>
      <h3 class="ec-title">Understand Their Needs and Goals</h3>
        <p class="element-para">To assist startups, grasp their specific requirements by discussing their vision, target market, challenges, and growth goals for tailored guidance.
          .</p>
      </div>

      <div class="element-container">
        <i class="element-icon"><i class="fa-brands fa-artstation"></i>
        <i class="element-number">2.</i>
      </i>
      <div class="element-border">
        <div class="inner-border"></div>
      </div>
      <h3 class="ec-title">Tailored Consulting Services</h3>
        <p class="element-para">Tailored consulting provides personalized advice, including strategic planning, market research, financial guidance, and more, to meet startups' unique requirements.</p>
      </div>

      <div class="element-container">
        <i class="element-icon"><i class="fa-brands fa-digital-ocean"></i>
        <i class="element-number">3.</i>
      </i>
      <div class="element-border">
        <div class="inner-border"></div>
      </div>
      <h3 class="ec-title">Provide Ongoing Support</h3>
        <p class="element-para">Offer continuous assistance beyond initial consulting, including periodic check-ins, performance reviews, and strategy adjustments, to support startups' dynamic needs.</p>
      </div>

      <div class="element-container">
        <i class="element-icon"><i class="fa-brands fa-creative-commons-sa ionicon" ></i>
        <i class="element-number">4.</i>
      </i>
      <!-- <div class="element-border">
        <div class="inner-border"></div>
      </div> -->
      <h3 class="ec-title">Measure and Celebrate Success</h3>
        <p class="element-para">Define clear milestones, track progress, and acknowledge achievements, motivating startup teams to sustain momentum and pursue further success.




        </p>
      </div>
      

    </div>
  </section>

    <!---->



  <!-- Our Experts Section start Here -->


<section id="expert">
  <div class="expert-1">
    <div class="about">
      <!-- <a href="about_Section" class="about-anch">About Us
        <i><ion-icon name="arrow-forward-circle-outline"></ion-icon></i>
      </a> -->
    </div>
    <h3 class="title hidden">
    <span class="word-holder">
      <span class="char-holder" style="transition-delay: 120ms;">O</span>
      <span class="char-holder" style="transition-delay: 180ms;">U</span>
      <span class="char-holder" style="transition-delay: 240ms;">R</span>
    </span>
    <span class="word-holder">
      <span class="char-holder" style="transition-delay: 360ms;">E</span>
      <span class="char-holder" style="transition-delay: 420ms;">X</span>
      <span class="char-holder" style="transition-delay: 480ms;">P</span>
      <span class="char-holder" style="transition-delay: 520ms;">E</span>
      <span class="char-holder" style="transition-delay: 580ms;">R</span>
      <span class="char-holder" style="transition-delay: 640ms;">T</span>
      <span class="char-holder" style="transition-delay: 680ms;">S</span>
    </span>
    </h3>
    <!-- <div class="about-content">
      <h2>Partnering for Progress and Prosperity</h2>
    </div>
  </div> -->
</section>

  <!-- Our Experts Section End Here -->




















<!-- Team Section Start Here -->



<section class="team">
  <div class="container">
      <!-- <div class="row">
          <h1> Our Team </h1>
      </div> -->
      <div class="row mgt50px">
          <div class="column">
              <div class="imgBox">
                <img src="/img/Mentor/Prince Raj.png">
              </div>
              <div class="details">
                  <h3>Prince Raj <br><span> Founder Agridhaan</span></h3>
                  <!-- <ul>
                    <li><a id="tab-1" href="#"><ion-icon name="logo-facebook" class="whiteText"></ion-icon></a></li>
                    <li><a id="tab-2" href="#"><ion-icon name="logo-instagram" class="whiteText"></ion-icon></a></li>
                    <li><a id="tab-3" href="#"><ion-icon name="logo-twitter" class="whiteText"></ion-icon></a></li>
                    <li><a id="tab-4" href="#"><ion-icon name="logo-youtube" class="whiteText"></ion-icon></a></li>
                </ul> -->
              </div>
          </div>
          <div class="column">
              <div class="imgBox">
                  <img src="/img/Mentor/Kumar Shubham.png">
              </div>
              <div class="details">
                  <h3>Kumar Shubham <br><span> Market Analyzer</span></h3>
                  <!-- <ul>
                    <li><a id="tab-1" href="#"><ion-icon name="logo-facebook" class="whiteText"></ion-icon></a></li>
                    <li><a id="tab-2" href="#"><ion-icon name="logo-instagram" class="whiteText"></ion-icon></a></li>
                    <li><a id="tab-3" href="#"><ion-icon name="logo-twitter" class="whiteText"></ion-icon></a></li>
                    <li><a id="tab-4" href="#"><ion-icon name="logo-youtube" class="whiteText"></ion-icon></a></li>
                </ul> -->
              </div> 
          </div>
          <div class="column">
              <div class="imgBox">
                <img src="/img/Mentor/Smriti Singh.jpg">
              </div>
              <div class="details">
                  <h3>Smriti Singh<br><span> Live Coach</span></h3>
                  <!-- <ul>
                    <li><a id="tab-1" href="#"><ion-icon name="logo-facebook" class="whiteText"></ion-icon></a></li>
                    <li><a id="tab-2" href="#"><ion-icon name="logo-instagram" class="whiteText"></ion-icon></a></li>
                    <li><a id="tab-3" href="#"><ion-icon name="logo-twitter" class="whiteText"></ion-icon></a></li>
                    <li><a id="tab-4" href="#"><ion-icon name="logo-youtube" class="whiteText"></ion-icon></a></li>
                </ul> -->
              </div>
          </div>
          <div class="column">
              <div class="imgBox">
                <img src="/img/Mentor/asif.jpg">
              </div>
              <div class="details">
                  <h3>Aryan Chauhan <br><span> CEO and Founder</span></h3>
                  <!-- <ul>
                    <li><a id="tab-1" href="#"><ion-icon name="logo-facebook" class="whiteText"></ion-icon></a></li>
                    <li><a id="tab-2" href="#"><ion-icon name="logo-instagram" class="whiteText"></ion-icon></a></li>
                    <li><a id="tab-3" href="#"><ion-icon name="logo-twitter" class="whiteText"></ion-icon></a></li>
                    <li><a id="tab-4" href="#"><ion-icon name="logo-youtube" class="whiteText"></ion-icon></a></li>
                </ul> -->
              </div>
          </div>
      </div> 
  </div> 
</section>







<!-- Team Section End Here -->



<!-- Client Start Here -->









<!-- Title Code -->
<section id="client">
  <div class="our-Client">
    <h2>Our Clients</h2>
  </div>  

<!-- Slider Code -->
<div class="wrapper">
	<div class="slider_cLient">
		<div class="slide-track">
		
			<!-- Img Code -->
			<div class="slide_img">
				<img src="/img/Our Clients/Agri Dhaan.png" />
			</div>
			<div class="slide_img">
				<img src="/img/Our Clients/BookBush.png" />
			</div>
			<div class="slide_img">
				<img src="/img/Our Clients/HealthExpress.png" />
			</div>
			<div class="slide_img">
				<img src="/img/Our Clients/InternAdda.png" />
			</div>
			<div class="slide_img">
				<img src="/img/Our Clients/nearmeshop.png" />
			</div>
			<div class="slide_img">
				<img src="/img/Our Clients/Wearingo.png" />
			</div>
			<div class="slide_img">
				<img src="/img/Our Clients/SkillAdda.png" />
			</div>
      <div class="slide_img">
				<img src="/img/Our Clients/Agri Dhaan.png" />
			</div>
			<div class="slide_img">
				<img src="/img/Our Clients/BookBush.png" />
			</div>
			<div class="slide_img">
				<img src="/img/Our Clients/HealthExpress.png" />
			</div>
			<div class="slide_img">
				<img src="/img/Our Clients/InternAdda.png" />
			</div>
			<div class="slide_img">
				<img src="/img/Our Clients/nearmeshop.png" />
			</div>
			<div class="slide_img">
				<img src="/img/Our Clients/Wearingo.png" />
			</div>
			<div class="slide_img">
				<img src="/img/Our Clients/SkillAdda.png" />
			</div>
			<div class="slide_img">
				<img src="/img/Our Clients/nearmeshop.png" />
			</div>
			
			<!-- Img Code End -->
			
		</div>
	</div>
</div>
</section>





<!-- Client End Here -->














<%- include("footer") -%>







  