<%- include("header") -%>













<!-- Service Section Start Here -->



<section class="ourService">
    <div class="rowService">
      <h2 class="section-heading">Our Services</h2>
    </div>
    <div class="rowService">


      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-address-card"></i>
          </div>
          <h3>Startup Bihar Registration</h3>
          <p>
            Assist startups in Bihar with the registration process for the state's startup initiative, including helping them fulfill the eligibility criteria and complete the necessary paperwork.
          </p>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-id-card"></i>
          </div>
          <h3>Startup India Registration</h3>
          <p>
            Guide startups through the registration process for the Startup India program, which offers various benefits, such as tax 
             exemptions and funding opportunities for eligible startups.
          </p>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-building"></i>
          </div>
          <h3>Company Registration</h3>
          <p>
            Assist startups in registering their business entities, such as private limited companies, limited liability partnerships 
             (LLPs), or sole proprietorships, depending on their needs and goals.
          </p>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-upload"></i>
          </div>
          <h3>GST Registration</h3>
          <p>
            Help startups register for the Goods and Services Tax (GST), a crucial requirement for businesses in India. This involves 
             obtaining a GST identification number (GSTIN).
          </p>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-trademark"></i>
          </div>
          <h3>Trademark Registration</h3>
          <p>
            Help startups protect their brand names, logos, and intellectual property by assisting with trademark registration with the 
             relevant authorities.
          </p>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-pen"></i>
          </div>
          <h3>Other Registration </h3>
          <p>
            Other Registration, like MSME Registration, Udyam Registration, Labour Law Registrations, Food License (FSSAI) 
             Registration, Other Regulatory Compliance.
          </p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-business-time"></i>
          </div>
          <h3>Business Planning</h3>
          <p>
            Assisting startups in creating comprehensive business plans that outline their goals, strategies, and financial 
             projections.
          </p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-file"></i>
          </div>
          <h3>Pitch Deck Development</h3>
          <p>
            Creating compelling pitch decks and investor presentations to attract funding.
          </p>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-shop"></i>
          </div>
          <h3>Market Research</h3>
          <p>
            Conducting market research to help startups understand their target market, competition, and growth opportunities.
          </p>
        </div>
      </div>


      
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-code"></i>
          </div>
          <h3>Website And App Development</h3>
          <p>
            Expert website and app development services: Custom design, responsive coding, and seamless functionality for an 
             exceptional digital presence
          </p>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-share-from-square"></i>
          </div>
          <h3>Social Media Management</h3>
          <p>
            Comprehensive social media management services: content creation, posting, engagement, analytics, and strategy for 
             effective online brand presence and growth.
          </p>
        </div>
      </div>



      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-chart-line"></i>
          </div>
          <h3>Financial Analysis</h3>
          <p>
            Providing financial modeling, budgeting, and financial analysis to help startups manage their finances effectively.
          </p>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-coins"></i>
          </div>
          <h3>Fundraising Assistance</h3>
          <p>
            Assisting startups in securing funding through venture capital, angel investors, crowdfunding, or other sources.
          </p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-bullseye"></i>
          </div>
          <h3>Strategic Planning</h3>
          <p>
            Developing and implementing strategic plans to guide startups in achieving their long-term objectives.
          </p>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-person"></i>
          </div>
          <h3>Mentorship and Coaching</h3>
          <p>
            Providing one-on-one mentoring and coaching to startup founders and leadership teams.
          </p>
        </div>
      </div>



      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-file-contract"></i>
          </div>
          <h3>Marketing and Branding</h3>
          <p>
            Helping startups develop marketing strategies, branding, and digital marketing campaigns to reach their target audience.
          </p>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-network-wired"></i>
          </div>
          <h3>Networking and Partnerships</h3>
          <p>
            Facilitating connections with potential partners, mentors, and industry experts.
          </p>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fa-solid fa-gavel"></i>
          </div>
          <h3>Legal and Regulatory Compliance</h3>
          <p>
            Advising startups on legal and regulatory requirements, including business registration, contracts, and intellectual 
             property protection.
          </p>
        </div>
      </div>



    </div>
  </section>



<!-- Service Section End Here -->










  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      <script src="/public/script.js"></script>
  
  
  
      <script src="https://kit.fontawesome.com/4c4e1530fc.js" crossorigin="anonymous"></script>
  <!-- sticky header -->
      <script>
        var stickyHeader =  document.querySelector("header");
      
        window.addEventListener("scroll",function(){
          var scrollY = window.scrollY;
            if(scrollY > 20){
              stickyHeader.classList.add("sticky");
            }else{
              stickyHeader.classList.remove("sticky");
            }
            
          });
      </script>
  <!-- sticky header -->
  
  </body>
  </html>